!!!
.container
  .row.well-lg
    .col-md-12.alert.alert-warning.well-lg
      %h1 DemoApp Rails
      - if current_user
        %p
          You are logged in as
          = "#{current_user.first_name} #{current_user.last_name} (#{current_user.uid})"

        - if current_user.companies.exists?
          %p
            You belong to the following companies
          %ul
            - current_user.companies.each do |company|
              %li= "#{company.name} (#{company.uid})"
          = link_to "Logout", logout_path

          %h2 Account management
          = link_to "Bills", maestrano_account_bills_path
          %h2 Connec! data-sharing
          = link_to "Connec!", maestrano_connec_path
          %br
        - else
          %p You do not belong to any company
      - else
        %h3 Sandbox
        = link_to "Please access the Sandbox to test this application", 'https://developer.maestrano.com'
        %h2 Discovered Marketplaces
        - Maestrano.configs.keys.each do |tenant|
          %h3 #{tenant}
          = link_to "Login with marketplace #{tenant}", tenant_maestrano_auth_saml_index_path(tenant: tenant)
          %br
